<template name="about">
    {{>fixedHeader}}
 <div class="center">
<h2 class="nanum"><b>{{_"about"}}</b></h2>
 </div>
 <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
 <div class="container" style="margin-top:3em">
 <div class="center">
     <img src="/img/logo.png" width="110">
     <br>
     
 <p class="flow-text">
A Santa Barbara, CA based group, we are a new breed of engineers and designers striving to evolve the current webspace. Our purpose is to help create or refine your product vision and aim your business towards success. From research to solutions, we drive the lifecycle of your idea to be successful in the online arena with our powerful websites. One size does not fit all so we try our best to understand your current situation to build a comprehensive plan to bring additiional value to your idea.
</p>
 </div>
 </div>
       <div class="parallax-container" style="height:400px;margin-top:4em">
      <div class="parallax" style="background:#0f0f0f"><img src="/img/webd.jpg"></div>
 
     
    </div>
    <section style="margin-top:5em">
                  <div class="container">
        <div class="row">
                    <div class="col s12 m6 l5 hide-on-small-only right">
        
        </div>
 
     <div class="col s12 m12 l6 center">
          <h5 class="rale grey-text text-darken-3">Web & Mobile Apps,    <b class="red-text text-lighten-1">into One</b></h5>
         <div class="divider red lighten-1" style="margin:0 auto;width:40px"></div>
         <p class="flow-text ">In December of 2010, Samsung SDS predicted that a native container platform that can merge the intricacies of the web and the dynamics of mobile apps will bring about a new future in software engineering. This so called "hybrid apps" will bring ideas across all platforms of all devices; breaking down  walls for ideas to permeate into the marketspace. The good news is: We offer it right here at illume Inc. Experience the best of both worlds   and spark your ideas to life.</p>
         <br>
             <div class="center">
                  <a  href="{{pathFor 'hybrid'}}" class="button outline">LEARN MORE ON HYBRID APPS</a>

                </div>
            </div>
                <div class="col s12 m12 l6  center">
        
     
        <h5 class="rale grey-text text-darken-3">Secret weapon, <b class="red-text text-lighten-1">METEOR JS</b></h5>
        <div class="divider red lighten-1" style="margin:0 auto;width:40px"></div>
        <p class="flow-text ">We cut out the silos and cookie-cutter solutions because we know they will ultimately fail. We are eager to find out what makes your business tick so we can build you a custom high-end website that works for you. <br>Meteor is a Node.JS platform that offers robust flexibility in creating beautiful and powerful applications. We are proud to be part of a growing community of engineers willing to embrace the web-revolution that is about to come. Don't wait.</p>
        <br>
       <div class="center">
                  <a  href="https://www.meteor.com" class="button outline">DISCOVER METEOR</a>

                </div>
        </div>
        </div>
    </div>
              </section>
                        <div class="row" style="margin-top:2em;">
                        <div class="container">
             
                                                  <div class="col s12 m12 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
     
            <div class="col s12">
            <div class=" ">
              <img src="/img/joe.png" width="85px" alt="">
            </div>
             <p class="leadDev rale red-text">JOE LEE<BR> <span class="black-text">LEAD DEVELOPER &  FOUNDER</span></p>
                <p class="rale"><i> We believe a strong background in successful customer relation is essential in developing a powerful application fit for your business, all within the boundaries of our imagination. We strive to maintain constant communication between you and our team to ensure the optimal health of your product for your business. Thanks for choosing illume Inc. 
                </i></p>
            </div>
          </div>
          </div>           
 
      </div>
                            </div>    
                </div>  
                          <section style="margin-top:8em;padding:1.6em;margin-bottom:-1.4em;">
                <div class="row">
        <div class="container">
        <div class="col s12 m12 l12">
            <h1 class="mont center homeWhat">READY, SET, GO.</h1>
            <div class="divider blue lighten-1"></div>
      
             <h3 class="center muli grey-text text-darken-3">What are you waiting for?</h3>
             <div class="center">
                  <a  href="{{pathFor 'applications'}}" class="button outline">{{_"getStarted"}}</a>

                </div>
            </div>
        </div>
                              </div>
            </section>
</template>