<template name="footer">
    <div class="container">
 
    </div>
<footer class="page-footer" style="background: #2f363b;height:500px;">
    <section class="text-center" style="padding:1em;margin-top:70px;">     
        <div class="container center">
    <div>
        <a href="/"><img src="/img/wlogo.png" width="85"></a>
        </div>
        <br>
        <div class="divider" style="margin:0 auto;width: 100px" ></div>
    <p class="footer-company-motto nanum white-text flow-text"><b>Living, Breathing, and Improving</b></p>

	 

			<p class="footer-company-name nanum" style="color:#a0a0a0;margin-top: 120px;">Typecrafted by joseph s. lee &copy; twentyeighteen<br><span class="nanum">경기도 고양시 </span>| Santa Barbara, CA</p>
    <p class="footer-links"><a style="color:#5c6972" href="https://www.facebook.com/illumeweb/"  ><i class="fa fa-facebook fa-2x"></i></a>  	· <a style="color:#5c6972"  href="https://www.instagram.com/illumeinc/"  ><i class="fa fa-instagram fa-2x"></i></a>· <a style="color:#5c6972" href="http://www.yelp.com/biz/illume-web-design-and-development-goleta"  ><i class="fa fa-yelp fa-2x"></i></a></p>
        </div>
    </section> 
    </footer>
</template>