<template name="footer">
    <div class="container">
 
    </div>
<footer class="page-footer white">
    <section class="text-center" style=";padding:1em">     
        <div class="container center">
    <div>
        <a href="/"><img src="/img/badge.png" width="185"></a>
        </div>
    <p class="footer-company-motto mont grey-text text-darken-4"><b>#lightupyourbrand</b></p>

	 

			<p class="footer-company-name opensan" style="color:#313131;">illume Inc. Web Design and Development&copy; 2016<br>Based in Santa Barbara, CA</p>
    <p class="footer-links"><a href="https://www.facebook.com/illumeweb/" style="color:#fff;"><i class="fa fa-facebook fa-2x"></i></a>  	· <a href="https://www.instagram.com/illumeinc/" style="color:#fff;"><i class="fa fa-yelp fa-2x"></i></a>· <a href="http://www.yelp.com/biz/illume-web-design-and-development-goleta" style="color:#fff;"><i class="fa fa-instagram fa-2x"></i></a></p>
        </div>
    </section> 
    </footer>
</template>