<template name="applications">
<section>
 {{> Rsvp}}

</section>
</template>
<template name="Rsvp">
      {{>fixedHeader}}
  <section>
 <div class="section">
    <div class="container">
        <div class="center">
        <h4 class="center muli grey-text text-darken-3">Create With Us Today</h4>
        </div>
        </div>
    </div>
   
    <div class="section">
    <div class="container">
        <div class="row">
     <div class="col s12 m12 l6 offset-l3">
            <p class="center   flow-text grey-text text-darken-2">
     Starting a project with illume is easy. Just email, call, or text us 24/7. We will get back to you within minutes.
         </p>
            </div>
        </div>
        </div>
    </div>
 
    <div class="section">
    <div class="container">
        <div class="row">
        <div class="col s12 m6">
            <h5 class="rale"> <i class="fa fa-phone  red-text"></i></h5>
 
            <div class="center">
            <ul class="collection">
                <li class="collection-item  blue-grey darken-1">
                
                    <span class="  white-text">+1 805 530 5434 | ENG</span>
                </li>
                       <li class="collection-item  blue-grey darken-1">
                
                    <span class="  white-text">+82 10 5571 1781 | KOR</span>
                </li>       
                </ul>
            </div>
         <h5 class="rale"  ><i class="fa fa-envelope red-text"></i> </h5>
          
                  <div class="center">
                       <ul class="collection">
              
                         <li class="collection-item  blue-grey darken-1">
                
                  <span class="  white-text">illumeweb@gmail.com</span>
                </li>
                </ul>
                  </div>
            </div>
      
           <div class="col s12 m6 l6">
                  <h5 class="rale"  ><i class="fa fa-calendar-check-o red-text "></i> </h5>
                        <ul class="collection">
                <li class="collection-item  blue-grey darken-1">
                
                    <span class="  white-text">Mon - Fri: <span class="right">12:00PM - 7PM
</span></span>
                </li>
                                <li class="collection-item  blue-grey darken-1">
                
                    <span class="  white-text">Sat: <span class="right">11:00AM  - 4PM</span></span>
                </li> 
                                   <li class="collection-item  blue-grey darken-1">
                
                    <span class="  white-text">Sun: <span class="right bold">Closed  </span></span>
                </li> 
                                         <li class="collection-item  blue-grey darken-1">
                
                    <span class="  white-text">Holidays: <span class="right bold">Closed</span></span>
                </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</section>
    <div class="divider" style="margin:0 auto;width:50%"></div>
     <div class="section">
    <div class="container">
        <div class="row">
     <div class="col s12 m12 l6 offset-l3">
            <p class="center   flow-text grey-text text-darken-2">
  You can also start a project by filling out our application form. You should be getting something from us within 24 hours.
         </p>
            </div>
        </div>
        </div>
    </div>
<div class="container"> 
<div class="row center">
<div style="padding:1em;" class="z-depth-1 col s12"> 
      
        {{#autoForm collection="Rsvps"
      id="insertRsvpForm"
      type="method"
      meteormethod="submitRsvp"
      omitFields="createdAt"}}
   
      <div class="row"> 
      <div class="col s12 m3">
      {{> afQuickField name='name'  }}
      </div> 
          <div class="col s12 m3">
        {{> afQuickField name='last'}}
      </div> 
       <div class="col s12 m3">
        {{> afQuickField name='email'}}
      
      </div> 
      <div class="col s12 m3">
        {{> afQuickField name='phone'}}
      
      </div>
      </div>
       <div class="row">
<div class="col s12 m6">
 {{> afQuickField name='website'}}
</div>
<div class="col s12 m6">
   {{> afQuickField name='organization'}}
</div>
  
       </div>
       
       <div class="row">
       
       <div class="col s12 m12 l5">
 {{> afQuickField name='industry'}}
       </div>
        <div class="col s12 m12 l7">
 {{> afQuickField name='Competitors'}}
       </div>
       </div>
       <div class="row">
     <div class="col s12 m6">
{{> afQuickField name='iadSense'}}
 </div>
   <div class="col s12 m6">
    {{> afQuickField name='budget'}}
   </div>
 </div>
 
 
 <div class="row">
 <div class="col s12 m8 offset-m2 offset-l3 l6">
  
      <div class=" ">
<label style="font-size:17px">Are you engaged with another agency at the moment? *</label>
 {{> afQuickField name='another' type="switch" trueLabel="YES" falseLabel="NOPE"}}
</div>
 </div>
 </div>
 
 <div class="row">
 
<div class="col s12 m6 offset-m3">
 {{> afQuickField name='whatElse' }}
</div>


 </div>
    <button type="submit" class="button outline">SUBMIT APPLICATION</button>
    <br>
    <br>
    <div class="center wow bounce" data-wow-iteration="4">
    <span class="grey-text text-darken-2">* REQUIRED FIELDS</span>
    </div>
  {{/autoForm}}
       

      </div>
      </div>
      </div>
     {{#if isSuccessfulRsvp }}
    <div class="container">
    <div class="row wow zoomIn">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
    <h5 class="center robotoIt grey-text text-darken-3 wow zoomInUp">Thanks for choosing illume Inc. We will get back to you shortly {{name}}.  </h5>
    <br>
    <div class="center">
                  <a  href="/" class="button outline">BACK HOME</a>

                </div>
    </div>
    </div>
</div>
    
    {{else}}   
  {{/if}}
</template>

<template name="lastRsvp">
  {{#each rsvps }}
    {{name}} {{last}}
  {{/each}}   
</template>