<template name="applications">
<section>
 {{> Rsvp}}

</section>
</template>
<template name="Rsvp">
  
      {{>fixedHeader}}
  <section>
 <div class="section">
    <div class="container">
        <div class="center">
        <h2 class="center nanum bold">{{_"contactMe"}}</h2>
        <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
        </div>
        </div>
    </div>
   
    <div class="section">
    <div class="container">
        <div class="row">
     <div class="col s12 m12 l6 offset-l3">
            <p class="center flow-text grey-text text-darken-2">
 {{_"startProject"}}
         </p>
            </div>
        </div>
        </div>
    </div>
 
    <div class="section">
    <div class="container">
        <div class="row">
          <div class="center">
            <img src="/img/joe.png" width="120px" alt="Joseph S. Lee">
          </div>
          <br>
          <div class="row">
            <div class="col s12 m6 l6 offset-m3 offset-l3">
              
                <div class="col s4">
                  <div class="center">
                    <a class="mainC" href="https://urlgeni.us/instagram/3fIn"><i class="fab fa-instagram fa-3x"></i></a>
                  </div>
                </div>
                 <div class="col s4">
                  <div class="center">
                     <a class="mainC" href="https://urlgeni.us/facebook/n12_"><i class="fab fa-facebook-f fa-3x"></i></a>
                  </div>
                </div>
                 <div class="col s4">
                  <div class="center">
                     <a class="mainC" href="https://urlgeni.us/Uxlo"><i class="fab fa-github fa-3x"></i></a>
                  </div>
                </div>
         
            </div>
          </div>
        <div class="col s12 m8 l6 offset-m2 offset-l3">
        <ul class="collapsible popout" data-collapsible="accordion">
    <li class=" ">
      <div class="collapsible-header active white-text mainB"><i class="material-icons">phone</i>Phone Number</div>
      <div class="collapsible-body center nanum"><span>+82 10-2390-1782</span></div>
    </li>
    <li>
      <div class="collapsible-header white-text mainB"><i class="material-icons">email</i>Email Address</div>
      <div class="collapsible-body center nanum"><span>illumeweb@gmail.com</span></div>
    </li>
  
  </ul>
        </div>
        </div>
        </div>
    </div>
</section>
 
    
</template>

<template name="lastRsvp">
  {{#each rsvps }}
    {{name}} {{last}}
  {{/each}}   
</template>