<template name="portfolio">
  
 {{>fixedHeader}}
 <section>
  <div class="center">
    <h2 class="nanum "><b>My Work</b></h2>
<div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
  </div>
    <div class="container service-graphic sg2" style="margin-top:2em;">
  <div class="screen monitor">
    <div class="content">
      <div class="browser">
        <ul class="btns">
          <li></li><li></li><li></li>
        </ul>
        <div class="browser-content">
        <ul class="txt">
          <li></li>        
          <li class="big"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li></li>        
          <li></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li></li>        
          <li class="big"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
          <li class="third"></li>
        </ul> 
        </div>
      </div>
    </div>
    <div class="base">
      <div class="grey-shadow"></div>
      <div class="foot top"></div>
      <div class="foot bottom"></div>
    </div>
  </div>
  
  <div class="laptop">
    <div class="screen">
      <ul class="txt">
        <li></li>        
        <li class="big"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li></li>        
        <li></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li></li>        
        <li class="big"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
        <li class="third"></li>
      </ul>           
    </div>
    <div class="btm"></div>
  </div>
  
  <div class="phone">
    <div class="screen">
      <ul class="txt">
        <li></li>
        <li></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  <div class="shadow"></div>        
  </div>
  
  <div class="ipad">
    <div class="screen">
      <ul class="txt">
        <li></li>
        <li class="big"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li></li>        
        <li></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li class="txt-half"></li>
        <li></li>
      </ul>
    </div>
  </div>  
</div>
          <div class="container" style="margin-top:7em;">
              <h2 class="flow-text nanum grey-text text-darken-3 center">{{_"myServices"}}</h2>
          </div>
 </section>
 <br>

<div class="divider"></div>

  <!-- HTML Chart -->
 
 
 
 
<div id="portfolioWrapper" class="">

   <div class="row">
        <div class="container">
        <div class="col s12 m12 ">
            <h3 class="  center  opensan">WEBSITES</h3>
  
            <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
             <p class="center flow-text">{{_"myWebsitesAre"}}<a href="http://www.meteor.com" class="red-text" target="_blank">{{_"meteorJs"}}</a> {{_"secondMyWeb"}} - {{_"stateOfArt"}}</p>
             
            </div>
        </div>
                              </div>
           <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/img/cdp.png">
              
            </div>
           
            
          </div>
          
                                 
                                  </div>
                                                <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/work/jl.png">
              
            </div>
            
            
          </div>
     
                                            
                                  </div>
                        
                                       <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/sfmvdm.png">
              
            </div>
            
            
          </div>
         
                                            
                                  </div>
                              </div>
                        <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/img/bpr.png">
              
            </div>
           
            
          </div>
          
                                 
                                  </div>
                                                <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/ivhair.png">
              
            </div>
            
            
          </div>
          
                                            
                                  </div>
                        
                                       <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/epic.png">
              
            </div>
            
            
          </div>
           
                                            
                                  </div>
                              </div>
    <div class="row" style="margin-top:4em;">
        <div class="container">
        <div class="col s12 m12 l10 offset-l1">
            <h3 class="  center  opensan">GRAPHICS</h3>
  
            <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
                
             <p class="center flow-text">{{_"weMakeGraphics"}} <i class="fa fa-heart red-text"></i> {{_"aBitOf"}}</p>
            </div>
        </div>
                              </div>
                                <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/img/cole.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
                                                <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/work/sfmvdm.png" class="materialboxed">
              
            </div>
            
            
          </div>
 
                                            
                                  </div>
                        
                                       <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/work/business.png" class="materialboxed">
              
            </div>
            
            
          </div>
         
                                            
                                  </div>
                              </div>
                     <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/work/speakwise.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
                             <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/work/bpbanner.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
                                          <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/work/jl.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
    </div>

</div>   
  <section style="margin-top:8em;padding:1.6em;margin-bottom:-1.4em;">
                <div class="row">
        <div class="container">
        <div class="col s12 m12 l12">
            <h1 class="nanum center homeWhat">{{_"areYouGame"}}</h1>
            <div class="divider red lighten-1"></div>
      
             <h3 class="center nanum grey-text text-darken-3">{{_"loveToHear"}}</h3>
                <div class="center">
                 <p class="flow-text nanum">{{_"alwaysOpen"}}
                 <br>
                 {{_"coffee"}}
                 </p>
                  <a  href="{{pathFor 'applications'}}" class="button outline">{{_"getStarted"}}</a>

                </div>
            </div>
        </div>
                              </div>
            </section> 
</template>