<template name="portfolio">
 {{>fixedHeader}}
    <div  class="code hide-on-med-and-down" style="background:#fff;">
   
        <div class="container" style="margin-top:2em;">
  <p class="flow-text grey-text text-darken-2 center">MERGING THE BEST OF BOTH WORLDS OF WEB & MOBILE.<BR>CREATING APPLICATIONS AND WEBSITES<BR> SPECIFICALLY FOR YOU AND YOUR BUSINESS  </p>
             <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
  <div class="row hide-on-med-and-down " style="margin-top:5em;">
    <div class="col s12 m3">
        <figure class="chart" data-percent="75">
    <figcaption>HTML</figcaption>
    <img class="html" src="https://dl.dropboxusercontent.com/s/68gv23q4y5qyq52/html5.svg">
    <svg width="200" height="200">
      <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
    </svg>
  </figure>
    
      </div>
          <div class="col s12 m3">
        <figure class="chart" data-percent="75">
    <figcaption>CSS</figcaption>
    <img class="css" src="/img/css.svg">
    <svg width="200" height="200">
      <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
    </svg>
  </figure>
      </div>
          <div class="col s12 m3">
        <figure class="chart" data-percent="100">
    <figcaption>Javascript</figcaption>
    <img class="javascript" src="/img/js.png">
    <svg width="200" height="200">
      <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
    </svg>
  </figure>
      </div>
          <div class="col s12 m3">
        <figure class="chart" data-percent="75">
    <figcaption>Node</figcaption>
    <img class="node" src="https://dl.dropboxusercontent.com/s/v28zws1p38tjph2/node.png">
    <svg width="200" height="200">
      <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
    </svg>
  </figure>
      </div>
    </div>
    </div>
            <div class="center wow fadeInDown" data-wow-iteration="3" style="margin-top:21.5em;">
                <a href="#portfolioWrapper" class="button outline"><b>CLICK TO VIEW MORE</b></a>
            </div>
    </div>
 

  <!-- HTML Chart -->
 
 
 
 
<div id="portfolioWrapper" class="">

   <div class="row">
        <div class="container">
        <div class="col s12 m12 ">
            <h3 class="  center  opensan">WEBSITES</h3>
  
            <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
             <p class="center flow-text">Our websites are built with <a href="http://www.meteor.com" target="_blank">Meteor.JS</a> - a state of the art native container - which increases reactivity and performance to a whole new level. Don't take our word for it. Take a look for yourself.</p>
             
            </div>
        </div>
                              </div>
           <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/img/cdp.png">
              
            </div>
           
            
          </div>
           <div class="center" style="margin-top:-2.7em;">
  <a href="http://www.vitalmetrics-cdp.com" target="_blank" class="btn-floating btn-large waves-effect waves-light red darken-2"><i class="material-icons">link</i></a>

          </div>
                                 
                                  </div>
                                                <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/jesuslove.png">
              
            </div>
            
            
          </div>
     
                                            
                                  </div>
                        
                                       <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/sfmvdm.png">
              
            </div>
            
            
          </div>
           <div class="center" style="margin-top:-2.7em;">
  <a href="http://www.sfmvdm.com" target="_blank" class="btn-floating btn-large waves-effect waves-light red darken-2"><i class="material-icons">link</i></a>

          </div>
                                            
                                  </div>
                              </div>
                        <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/img/bpr.png">
              
            </div>
           
            
          </div>
           <div class="center" style="margin-top:-2.7em;">
  <a href="http://www.berguerpr.com" target="_blank" class="btn-floating btn-large waves-effect waves-light red darken-2"><i class="material-icons">link</i></a>

          </div>
                                 
                                  </div>
                                                <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/ivhair.png">
              
            </div>
            
            
          </div>
           <div class="center" style="margin-top:-2.7em;">
  <a href="http://www.ivhairco.com" target="_blank" class="btn-floating btn-large waves-effect waves-light red darken-2"><i class="material-icons">link</i></a>

          </div>
                                            
                                  </div>
                        
                                       <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/img/epic.png">
              
            </div>
            
            
          </div>
           <div class="center" style="margin-top:-2.7em;">
  <a href="http://www.epicsupsb.com" target="_blank" class="btn-floating btn-large waves-effect waves-light red darken-2"><i class="material-icons">link</i></a>

          </div>
                                            
                                  </div>
                              </div>
    <div class="row" style="margin-top:4em;">
        <div class="container">
        <div class="col s12 m12 l10 offset-l1">
            <h3 class="  center  opensan">GRAPHICS</h3>
  
            <div class="divider red lighten-1" style="margin:0 auto;width:120px"></div>
                
             <p class="center flow-text">We make all of our graphics inhouse. Every single graphic work has been made with <i class="fa fa-heart red-text"></i> and a little bit of imagination.</p>
            </div>
        </div>
                              </div>
                                <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/img/cole.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
                                                <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/work/sfmvdm.png" class="materialboxed">
              
            </div>
            
            
          </div>
 
                                            
                                  </div>
                        
                                       <div class="col s12 m4 l4">
                                  <div class="card">
            <div class="card-image">
              <img src="/work/business.png" class="materialboxed">
              
            </div>
            
            
          </div>
         
                                            
                                  </div>
                              </div>
                     <div class="row">
                              <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/work/speakwise.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
                             <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/work/bpbanner.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
                                          <div class="col s12 m4 l4">
                                                    <div class="card">
            <div class="card-image">
              <img src="/work/jl.png" class="materialboxed">
              
            </div>
           
            
          </div>
           
                                 
                                  </div>
    </div>

</div>   
 
      <section style="margin-top:8em;padding:1.6em;margin-bottom:-1.4em;">
                <div class="row">
        <div class="container">
        <div class="col s12 m12 l12">
            <h1 class="mont center homeWhat">ARE YOU GAME?</h1>
            <div class="divider red lighten-1"></div>
      
             <h3 class="center muli grey-text text-darken-3">We would love to hear more.</h3>
                <div class="center">
                  <a  href="{{pathFor 'applications'}}" class="button outline">GET STARTED WITH ILLUME INC.</a>

                </div>
            </div>
        </div>
                              </div>
            </section>   
</template>