<template name="header">
  
<header class="main_h">

 
      <div class="navbar-fixed">
  <nav style="background:#2f363b;">
     
    <div class="nav-wrapper">
        <div class="">
        <div class="brand-logo center hide-on-small-only">
            <a href="/" class=" aspergit"><img src="/img/wlogo.png" width="35" alt=""></a>
            </div>
              <div class="brand-logos brand-logo show-on-small-only hide-on-med-and-up">
            <a href="/" class=" aspergit"><img src="/img/wlogo.png" width="35"  alt=""></a>
            </div>
            <a href="#" data-activates="slide-outs" class="white-text button-collapse left" style="margin-left:5px;"><i class="material-icons">reorder</i></a>
           
         
            
      
      <ul   class="hide-on-med-and-down left">
        <li class="nanum"><a href="{{pathFor 'about'}}">{{_"about"}}</a></li>
        <li class="nanum"><a href="{{pathFor 'approach'}}">{{_"howWeWork"}}</a></li>
        <li class="nanum"><a href="{{pathFor 'service'}}">{{_"ourServices"}}</a></li>
             <li class="nanum"><a href="{{pathFor 'portfolio'}}">{{_"portfolio"}}</a></li>
           <li class="nanum"><a href="{{pathFor 'applications'}}">{{_"reachUs"}}</a></li>
 

      </ul>
        <ul class="right hide-on-med-and-down">
           {{>languageSwitcher}}
            <li><a class="white-text center" href="https://urlgeni.us/facebook/4U1B"><i class="fab fa-facebook-f  fa-2x"></i></a></li>
                         <li class="divider"></li>
    <li><a class="center white-text" href="https://instagram.com/illumeinc/"><i class="fab fa-instagram  fa-2x"></i></a></li>
            </ul>
       
    </div>
      </div>
       
          </nav>

      </div>
</header>
    <ul id="slide-outs" class="side-nav">
        <div class="center">
            <br>
            <img src="/img/badge.png"  width="150"><br>
            <span class="bold">#lightupyourbrand</span>
     <li class="nanum" style="margin-top:1em;"><a href="{{pathFor 'about'}}">{{_"about"}}</a></li>
     <li class="nanum"><a href="{{pathFor 'approach'}}">{{_"howWeWork"}}</a></li>
        <li class="nanum"><a href="{{pathFor 'service'}}">{{_"ourServices"}}</a></li>
             <li class="nanum"><a href="{{pathFor 'portfolio'}}">{{_"portfolio"}}</a></li>
           <li class="nanum"><a href="{{pathFor 'applications'}}">{{_"reachUs"}}</a></li>
           {{> languageSwitcher2}}
        </div>
  </ul>
</template>