<template name="header">
  
<header class="main_h">

 
      <div class="navbar-fixed">
  <nav style="background:#115F9A;">
     
    <div class="nav-wrapper">
        <div class="">
        <div class="brand-logo hide-on-small-only">
            <a href="/" class=" aspergit"><b>illume</b></a>
            </div>
              <div class="brand-logos brand-logo show-on-small-only hide-on-med-and-up">
            <a href="/" class=" aspergit"><b>illume</b></a>
            </div>
            <a href="#" data-activates="slide-outs" class="white-text button-collapse left" style="margin-left:5px;"><i class="material-icons">reorder</i></a>
           
         
            
      
      <ul id="nav-mobiles" class="hide-on-med-and-down">
        <li class="muli"><a href="{{pathFor 'about'}}">ABOUT</a></li>
        <li class="muli"><a href="{{pathFor 'approach'}}">HOW WE WORK</a></li>
        <li class="muli"><a href="{{pathFor 'service'}}">OUR SERVICES</a></li>
             <li class="muli"><a href="{{pathFor 'portfolio'}}">PORTFOLIO</a></li>
           <li class="muli"><a href="{{pathFor 'applications'}}">REACH US</a></li>
           
      </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text center" href="https://www.facebook.com/illume-Inc-890931797668666/timeline/?ref=bookmarks"><i class="fa fa-facebook  fa-2x"></i></a></li>
                         <li class="divider"></li>
    <li><a class="center white-text" href="https://instagram.com/illumeinc/"><i class="fa fa-instagram  fa-2x"></i></a></li>
            </ul>
       
    </div>
      </div>
       
          </nav>
      </div>
</header>
    <ul id="slide-outs" class="side-nav">
        <div class="center">
            <br>
            <img src="/img/badge.png"  width="150"><br>
            <span class="bold">#lightupyourbrand</span>
     <li class="muli" style="margin-top:1em;"><a href="{{pathFor 'about'}}">ABOUT US</a></li>
        <li class="muli"><a href="{{pathFor 'approach'}}">HOW WE WORK</a></li>
        <li class="muli"><a href="{{pathFor 'service'}}">OUR SERVICES</a></li>
             <li class="muli"><a href="{{pathFor 'portfolio'}}">PORTFOLIO</a></li>
           <li class="muli"><a href="{{pathFor 'applications'}}">REACH US</a></li>
        </div>
  </ul>
</template>